<div class="container">
	<main>
		<div class="row">
		 	<div class="col-md-12">
				<button type="button" class="btn btn-default " style="float: right;" ng-click="logout()">Logout</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="media">
					<div class="media-left media-middle">
					 	<img src="{{gdata.getUser().picture}}" class="img-circle img-responsive media-object" style="max-width: 60px;">
					</div>
					<div class="media-body">
						<h2 class="media-heading">Seja bem-vindo {{gdata.getUser().name}}!</h2>
						<p class="media-heading">{{gdata.getUser().email}}</p>
						<a href={{gdata.getUser().link}} class="btn btn-social-icon btn-google" target="_blank">
					    	<span class="fa fa-google"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>


	<section class="padding70">
		<form class="form-horizontal" name="processaDados">

			<div class="form-group" ng-class="{'has-error' : !processaDados.str.$valid}">
				<label for="str">String</label>
				<input type="text" name="str" class="form-control"  ng-model="dados.str" required >
			</div>

			<div class="form-group" ng-class="{'has-error' : !processaDados.num.$valid}">
				<label for="num">Número</label>
				<input type="number" name="num" class="form-control"  ng-model="dados.num" required min="0"  pattern="\d*">
			</div>
			
			<button type="button" class="btn btn-info btn-lg " ng-class="{'disabled' : !processaDados.$valid}" ng-click="enviaDados(dados)">PROCESSAR</button>


			<div class="form-group top50">
				<label for="res">Resultado</label>
				<textarea class="form-control" id="res" rows="4" readonly >
				{{dados.res}} 
				{{dados.res2}}
				{{dados.res3}}
				</textarea>
			</div>
			
			
		</form>
	</section>

</div>